<!DOCTYPE html>
<html lang="en">

<%-include('partials/head.ejs')%> 
<body>
        <div class="header">
            <h1>Sonically Playlist</h1>
        </div>
        <div class="song-container">
            <p>Welcome to the sonically playlist app</p>
        </div>
        <!-- Email input -->

        <a href="/songs"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2689b870-52c5-4f2f-9517-7ec3f0a1226e/d7j8dju-4c27bec4-1b5d-4f09-bde1-dafd6bd96abc.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI2ODliODcwLTUyYzUtNGYyZi05NTE3LTdlYzNmMGExMjI2ZVwvZDdqOGRqdS00YzI3YmVjNC0xYjVkLTRmMDktYmRlMS1kYWZkNmJkOTZhYmMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.KV6zovqN-cn8SFr2DlRmm-TbnaAUGtaDkTwRWG_WmxE" alt="Sonic"</a>
</body>
</html>
